@media screen and (max-width: 1125px) {
  .menu-btn {
    display: block;
  }

  .navbar {
    display: none !important;
  }
}

@media screen and (max-width: 715px) {
  .hide {
    display: none !important;
  }

  .nav-btn {
    position: absolute;
    right: 2.5rem;
    top: -2rem;
  }
}

@media screen and (max-width: 991px) {
  .sign-up {
    max-width: 50%;
    margin: 1.2rem 20% 1.2rem 23% !important;
  }

  footer {
    font-size: 0.5rem;
  }

  .footer-links,
  .footer-links-2 li a {
    padding: 0 1rem 0 1rem;
  }
}

@media screen and (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .header-1 {
    display: none !important;
  }

  .header-2 {
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    flex-flow: row nowrap;
  }
}
