*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: red;
}

.weather-wrapper {
  color: white;
}

.navbar-brand {
  position: absolute; 
  top: 1.1rem;
  float: left;
  width: 2rem;
  height: 2.5rem;
}

.header-text-1 {
  position: absolute;
  left: 3rem;
  top: 1.9rem;
  font-size: 0.9rem;
}

.header-text-2 {
  position: absolute;
  top: 3.6rem;
  font-weight: 100;
}

.newsweek-logo {
  width: 100%;
  object-fit: cover;
  text-align: center;
}

.nav-btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.login-btn {
  background-color: red;
  color: #fff;
}

.subscribe-btn {
  background-color: #fff;
  color: red;
}

.menu-btn {
  font-size: 1.5rem;
  color: #ccc;
  display: none;
}

.nav-row {
  background-color: #fff;
}

.nav-row a:hover {
  color: red;
}

.nav-border {
  border-right: 0.1px solid #ccc;
  margin-left: 0;
}

.nav-link {
  color: #000;
  font-weight: bold;
}

.corner-shape {
  position: absolute;
  display: block;
  width: 6rem;
  height: 1.7rem;
  right: 0;
  border-left: 12px solid white;
  border-top: 13px solid red;
}
