*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  background-color: red !important;
}

.header-text {
  color: white;
}

.navbar-brand img {
  width: 1rem;
  height: 1rem;
}

.newsweek-logo {
  width: 25rem;
  object-fit: cover;
  text-align: center;
}

